<footer>
    <div class="left-content">
        <img src="images/C2-new-white.png" alt="Continental Studios logo" width="50" height="50" loading="lazy">
        <span>Continental Studios</span>
    </div>
    <div class="center-content">
        <p>
            © 2026 PClaystation |
            <a href="https://github.com/PClaystation" target="_blank" rel="noopener noreferrer" data-analytics="github_click">GitHub</a> |
            <a href="contact.html" id="contact-button" data-analytics="contact_click">Contact Us</a>
        </p>
    </div>
    <div class="right-content">
        <a href="https://patreon.com/ContinentalStudios?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink" target="_blank" rel="noopener noreferrer" data-analytics="patreon_click">
            <img src="images/patreon.svg" alt="Patreon logo" width="50" height="50" loading="lazy">
        </a>
        <a href="https://gofund.me/5a43d215" target="_blank" rel="noopener noreferrer" data-analytics="gofundme_click">
            <img src="images/gofundme2.svg" alt="GoFundMe logo" width="50" height="50" loading="lazy">
        </a>
    </div>
</footer>
